<div class="container rounded cont1 p-3 m-5">

  <div class="row">

    <div class="col-sm-10 col-lg-6 ">
      <h2><span class="upvotesPost">{{redditPost[a].upvotes}}</span><span
        class="titlePost">{{redditPost[a].title}}</span>
      </h2>
      <img class="img-fluid rounded mx-auto d-block" src="{{redditPost[a].post}}" alt="meme">
    </div>

    <div class="col-sm-10 col-lg-6 py-5 ">
      <div class="empty"></div>
      <ul>
        <div class="cmnt1">
          <li><span class="upvotescomments upv1">{{redditPost[a].commentUpvotes1}}</span><span
            class="comments ">{{redditPost[a].comment1}}</span></li>
          <ul>
            <div class="cmnt2">
              <li><span class="upvotescomments upv2">{{redditPost[a].commentUpvotes2}}</span><span
                class="comments ">{{redditPost[a].comment2}}</span></li>
              <ul>
                <div class="cmnt3">
                  <li><span class="upvotescomments upv3">{{redditPost[a].commentUpvotes3}}</span><span
                    class="comments ">{{redditPost[a].comment3}}</span></li>
                </div>
              </ul>
            </div>
          </ul>
        </div>
        <div class="cmnt4">
          <li><span class="upvotescomments upv4">{{redditPost[a].commentUpvotes4}}</span><span
            class="comments ">{{redditPost[a].comment4}}</span></li>
          <ul>
            <div class="cmnt5">
              <li><span class="upvotescomments upv5">{{redditPost[a].commentUpvotes5}}</span><span
                class="comments ">{{redditPost[a].comment5}}</span></li>
              <ul>
                <div class="cmnt6">
                  <li><span class="upvotescomments upv6">{{redditPost[a].commentUpvotes6}}</span><span
                    class="comments ">{{redditPost[a].comment6}}</span></li>
                </div>
              </ul>
            </div>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</div>
